.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/dev/data
/tomcat.8082/*
.run/JImVaultApplication.run.xml

### IntelliJ IDEA ###
.idea
!.idea/runConfigurations/JImVaultApplication.xml
*.iws
*.iml
*.ipr
/out/

### jenv ###
.java-version
